/**
 * @file variables.scss
 * Contains color, font, and spacing variables for 
 * the fourkitchens-gnomeshell theme
 */

// Colors

// green
$brand-green-dark: #2B8A31;
$brand-green: #35AA4E;
$brand-green-light: #3FD03F;

// blue
$brand-blue-dark: #0C62C2;
$brand-blue: #4180C7;
$brand-blue-light: #68A2E3;

// yellow
$brand-yellow-dark: #D8CB01;
$brand-yellow: #ECDF13;

// orange
$brand-orange-dark: #D86601;
$brand-orange: #FD880B;

// gray
$brand-gray-dark: #414141;
$brand-gray: #A0A0A0;
$brand-gray-light: #D2D2D2;


// Spacing
$space: 1em;
